.footer_style{
	margin-top: 50px;
	background-color: #4F5E7F;
	position: absolute;
	bottom: 0px;
	margin: auto;
	width: 100% !important;
}


.footer_style p {
	color: #fff;
}

.header_style{
	margin-bottom: 50px;
	background-color: #4F5E7F;
	width: 100% !important;

}

.header_style a {
	color: #fff;
}
.header_style li:hover a,
.header_style a:hover{
	color: #FF7070;
}