.footer_style{
	background-color: #4F5E7F;
	position: relative;
	margin-top: 500px;
	bottom: 0px;
	width: 100% !important;
}


.footer_style p {
	color: #fff;
}

.header_style{
	position: fixed;
	z-index: 9999999999999;
	top: 0px;
	background-color: #4F5E7F;
	width: 100% !important;

}

.header_style a {
	color: #fff;
}
.header_style li:hover a,
.header_style a:hover{
	color: #FF7070;
}

.page_title{
	margin-top: 60px;
	margin-bottom: 30px;
}



.cv_title{
	border-bottom: 1px solid #d1d1d1;
	margin-top: 30px;
}

.cv_sub_title{
	color: red;
}

.cv_sub_title_a{
	color: #000;
}

.cv_sub_title_note{
	color: #000;
}

.cv_sub_title_date{
font-style: italic;
	color: #acacac;	
}


.cv_sub_title ~ p{
	margin-left: 30px;
}