<footer class="container" style="margin-top: 100px;">
  <p class="text-center">
    Copyright ©2015 <br>
    Design by  <a href="#" target=_new>Andrew Chen</a>  <!-- open in new page -->
  </p>
</footer>