

<section class="col-sm-12 page_title">
	<h1 class="text-center">Andrew Chen</h1>
</section>


<section class="col-sm-12">
	<div class= "col-sm-7">
		<div>
			<h2 class=" cv_title">Education</h2>
			<h5 class="cv_sub_title">National Taiwan University
			<span class="cv_sub_title_date">[2010-2013]</span>
			</h5>
			<p>Master Degree, Physics </p>
			<p>Minor: Cloud computing and business application program</p>
			<h5 class="cv_sub_title">National Taiwan University
			<span class="cv_sub_title_date">[2006-2010]</span>
			</h5>
			<p>Bachelor Degree, physics</p>
		</div>
		<div>
			<h2 class="cv_title">Work Experience</h2>
			<h5 class="cv_sub_title">Mediland
			<span class="cv_sub_title_note">- Service Engineer</span>
			<span class="cv_sub_title_date">[2006-2010]</span>
			</h5>
			<p> </p>
			<p>Minor: Cloud computing and business application program</p>
			<h5 class="cv_sub_title_a">GCCA Inc.
			<span class="cv_sub_title_note">- Field Application Engineer</span>
			<span class="cv_sub_title_date">[2006-2010]</span>
			</h5>
			<p>Jointly worked with software engineers on providing customers solutions to implement virtual desktop infrastructure.</p>
			<p>Managed customers’ feedbacks and bugs then communicated with software engineers.</p>
			<p>Studied fundamental technique to maintain server and data flow framework.</p>
			<h5 class="cv_sub_title_a">Information Management, National Taiwan University October 2012 to July 2013 Computer and Information Networking Center
			<span class="cv_sub_title_note">- Intern</span>
			<span class="cv_sub_title_date">[2006-2010]</span>
			</h5>
			<p>Jointly worked with software engineers on providing customers solutions to implement virtual desktop infrastructure.</p>
			<p>Managed customers’ feedbacks and bugs then communicated with software engineers.</p>
			<p>Studied fundamental technique to maintain server and data flow framework.</p>
		</div>
		<div>
			<h2 class="cv_title">Research</h2>
			<p>My research interest include</p>
			<h5 class="cv_sub_title">Advisory System for Personal Care Assistance
			<span class="cv_sub_title_note"> - National Taiwan University Health Data Research Center</span>
			<span class="cv_sub_title_date">[2013-2014]</span>
			</h5>
			<p>Analyzed and restructured open data from Center of Health Information Application,Ministry of Health and Welfare.</p>
			<p>Led development team wrote demo program to perform advisory interaction.</p>
			<p>Worded a US design patent and two invention patents.</p>
			<h5 class="cv_sub_title">Multifunctional Organic Spin Valve with Self-assembled Monolayer Barrier
			<span class="cv_sub_title_note"> - Department of Physics, National Taiwan University</span>
			<span class="cv_sub_title_date">[2010-2012]</span>
			</h5>
			<p> Explored manufacturing process of self-assemble organic monolayer spin valve to realize spin transport mechanism.</p>
			<p> Applied theoretical charge injection and transport model to experiment result. </p>
			<p> Signal Processing :Developed pulse voltage/current analyzes and controls system for spin valve using
			LabVIEW.</p>
			<h5 class="cv_sub_title">Photoluminescence in Silicon
			<span class="cv_sub_title_note"> - Department of Physics, National Central University</span>
			<span class="cv_sub_title_date">[2008-2009]</span>
			</h5>
			<p> Implemented optical path and performed experiment measurement. Signal and Image Processing.</p>
			<p> ADeveloped image processing and mapping system for analyzing spectrum data using LabVIEW. </p>
			<p> Implemented algorithm to control CCD synchronizes with stepping motor using LabVIEW.</p>
			<h5 class="cv_sub_title">Thermal Convection in Two-dimension Box
			<span class="cv_sub_title_note"> - Department of Physics, National Central University</span>
			<span class="cv_sub_title_date">[2007-2008]</span>
			</h5>
			<p> Implemented the heating system with limited budget, $30, in one semester.</p>
			<p> WroteatemperaturecontrollerprogramtocreatetemperaturegradientinboxusingC++. </p>
			<p> Tracked and analyzed particles in fluid for observing thermal convection using ImageJ.</p>			
		</div>
		<div>
			<h2 class="cv_title">Site I build</h2>
			<p>I've start interesting Self-learning Html, CSS, JavaScript and Ruby on Codecademy.</p>
			<h5 class="cv_sub_title">Pobono
			<span class="cv_sub_title_note"> -CEO & Founder </span>
			<span class="cv_sub_title_date">[2013-2015][offline]</span>
			</h5>
			<p>Pobono is a platform where any people can raise social problems around their daily life, collaborate to discuss or design a solution let change really happen.</p>
			<p>Leading and organizing teamwork to generate development strategies and solutions.</p>
			<p>Funding..... “Campus Entrepreneurship“, Academia-Industry Collaboration Center, National Taiwan University, Taiwan, $10,000, 2014</p>
		</div>
	</div>
	<div class= "col-sm-4 col-sm-offset-1">
		<div>

			<h2 class="cv_title">Contact Info</h2>
			<h5 class="cv_sub_title">Website: ##</h5>
			<h5 class="cv_sub_title">Email: ##</h5>
			<h5 class="cv_sub_title">LinkIn: ##</h5>
			<h5 class="cv_sub_title">GitHub: ##</h5>
			<!--<img src="/images/liren.png">-->
		</div>
		<div>
			<h2 class="cv_title">Media explosure</h2>
			<p>Vitalk Show, December 2014</p>
			<p>Cast Net , “Social media combine with public welfare”, September 2014</p>
			<p>Empowerment Network for Social Innovation Talents (ENSIT), “Crowdfunding” , August 2013</p>
		</div>
		<div>
			<h2 class="cv_title">Awards</h2>
		</div>
		<div>
			<h2 class="cv_title">I'm also am...</h2>
		</div>
		<div>
			<h2 class="cv_title">Records</h2>
		</div>
	</div>
</section>
<!-- <p>-</p> -->