<h1>Home page</h1>

<section class="col-sm-1 col-sm-offset-1" style="border:1px solid #000">
	<div>
		

		
	</div>





</section>









<!-- welcome/say_hello.html -->
<p><%= link_to 'Hello!', welcome_say_hello_path %></p> 

